

<div class="pgaeContainer" >
	<div class="ContactUsPage"> 
	   	<div class="contactUstitle">Contact Us </div>
	   	<form name="conatctFrom" class="conatctFrom">
	   	 	<input type="text" placeholder="Your name" ng-model="conName" name="conatcName"></input>
	   	 	
	   		<input type="text" placeholder="Your email address" ng-model="conEmail" name="conEmail"/>
	   		<input type="text" placeholder="Your contact number" ng-model="connumber" name="connumber"/>
	   		<input type="text" placeholder="Your City" ng-model="conCity" name="conCity"/>
	   		<textarea ng-model="query"  placeholder="Type your messege" style="    height: 100px;
    padding-top: 14px;">
	   		
	   		</textarea>
	   		<button class="csavebtnContact" type="btn">Submit</button>
	   	</form>
	  
	</div>
</div>



