<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <title>An Error Has Occured</title>
</head>

<body>
<br/><br/><br/><br/><br/><br/><br/><br/>
    <h1>
        Access Denied
    </h1>
    <#if logged == true>
        <div>
            <p class="Main Description">
                Hi <b>${name}</b> ! You do not have
                sufficient
                permission to access this page
                Back to <a href="/#/header/home">Home</a>
            </p>
        </div>
    <#else>
        <div>
            Your session has been expired !! please <a href="/">login here</a>
        </div>
    </#if>

</body>

</html>