
<header>
<!--         <img src="../images/logo.png" style="height: 55px;
    width: 160px;
    margin-left: 25px;"> -->
    <span class="sitelogotext" ng-click="gotoHome()">ONLINE SEVA</span>
    <div class="headeroptions
">  <ul class="userUl">
            <li style="    display: block;
    font-size: 21px;">
                Welcome
            </li>
            <li>
                {{currentUser.name}}
            </li>
        </ul>
        
        <ul>
             <li ng-click="gotoAdmin()" ng-if="currentUser.roles[0].role === 'admin'"><img src="../images/admin-with-cogwheels.png"/>Admin</li> 
             <li  ng-click="gotoHome()">
              <img src="../images/home.png" style="    height: 24px;
    width: 24px;
"/>Home
            </li>
             <li><img src="../images/customer.png"/>Jobs</li>
            <li><img src="../images/care-about-planet.png"/>About Us</li>
            <li ui-sref="header.accessdenied"><img src="../images/contact.png"/>Contact Us</li>
            <li ng-click="logoutApp()"><img src="../images/logout.png"/>Log out</li>
        </ul>
      
    </div>
    <div class="Actons" style="display: none;">
        <img src="../images/user.png"/>
    	<div class="welcome">Welcome</div>
    	<div class="userName">{{currentUser.name}}</div>
        <div class="arrowimgDiv" ng-class="{'setbgOnActive':openMenu}">
            <img class="arrow" src="../images/arrow.png" ng-click = "openMenu = !openMenu" ng-class="{'rotateArrow':openMenu}"/>
        </div>
    	
    </div>
    
    <div class="menulistDiv hideshowAnimation zoomIn" ng-show="openMenu" style="display: none;">
    	<ul>    		
    		 <li ng-click="gotoAdmin()" ng-if="currentUser.roles[0].role === 'admin'">Admin</li> 
           
         
    		<li>About Us</li>
    		<li>Contact Us</li>
    		<li ng-click="logoutApp()">Log out</li>
    	</ul>

    </div>
</header>

<div style="float: left;width:100%;height:100%;" ui-view></div>
