<div class="loading" id="parentloader"><!--<img src="..." />-->
</div>
<div class="pgaeContainer" style="">
    <div class="homepageImgesParent">
        <div style="   float: left;
    width: 35%;
    height: 100%;
    /* border-radius: 50%; */
    padding: 17px;
    background: #a0919169;
    border-radius: 5px;">
            <img src="../images/banner3.jpg">
        </div>
        <div class="homepageText">
            And since your website’s About Us page often acts as an introduction, it’s safe to say that it’s a pretty
            important thing to get right.<br>

            A successful About Us page is not only packed full of interesting and useful information about you, your
            brand, and your team, but it should also encapsulate what your brand is as a whole, both stylistically and
            in terms of personality.<br>


        </div>


    </div>
    <div class="bannerDiv">
        AVAILABLE SERVICES
    </div>
    <div class=" servicesContiner">
        <div class=" serviceCard">
            <div class="cardImg">
                <div class="serviceIcon">
                    <img src="../images/loginBg.jpg ">
                </div>

            </div>
            <div class="cardTitle">Job Openings</div>
            <div class="card decription"> Check for Current job openning in Banking,Government and Private</div>
            <div class="viewMoreBtnDiv">
                <button ng-click="gotoJobs();">View More</button>

            </div>
        </div>
        <div class=" serviceCard">
            <div class="cardImg">
                <div class="serviceIcon">
                    <img src="../images/homebg.jpg ">
                </div>
            </div>
            <div class="cardTitle">Available Cources</div>
            <div class="card decription">Would you like to check available cources</div>
            <div class="viewMoreBtnDiv">
                <button ng-click="reDirectToCources();">View More</button>
            </div>

        </div>
        <div class=" serviceCard">
            <div class="cardImg">
                <div class="serviceIcon">
                    <img src="../images/loginBg2.jpg ">
                </div>
            </div>
            <div class="cardTitle">Pan Card</div>
            <div class="card decription">You can request for new PAN or Update existing PAN</div>
            <div class="viewMoreBtnDiv">
                <button>View More</button>
            </div>
        </div>
        <div class=" serviceCard">
            <div class="cardImg">
                <div class="serviceIcon">
                    <img src="../images/loginBg3.jpg ">
                </div>
            </div>
            <div class="cardTitle">Adhar Card</div>
            <div class="card decription">You can request for new Adhar or Update existing Adhar</div>
            <div class="viewMoreBtnDiv">
                <button>View More</button>
            </div>
        </div>
        <div class=" serviceCard">
            <div class="cardImg">
                <img src="">
            </div>
            <div class="cardTitle">Admit Card</div>
            <div class="card decription"> Can down load or view the admit cards</div>
            <div class="viewMoreBtnDiv">
                <button>View More</button>
            </div>
        </div>
        <div class=" serviceCard">
            <div class="cardImg">
                <img src="">
            </div>
            <div class="cardTitle">Jobs</div>
            <div class="card decription"> mwmjqw jwheqj wjweqv qhwgeq</div>
            <div class="viewMoreBtnDiv">
                <button>View More</button>
            </div>
        </div>
        <div class=" serviceCard">
            <div class="cardImg">
                <img src="">
            </div>
            <div class="cardTitle">Jobs</div>
            <div class="card decription"> mwmjqw jwheqj wjweqv qhwgeq</div>
            <div class="viewMoreBtnDiv">
                <button>View More</button>
            </div>
        </div>


    </div>

</div>