<div class="pgaeContainer" style="">
	<div class="homepageImgesParent" style="display: none;">
	<img src="../images/banner3.jpg">	




	</div>
<div class="bannerDiv">
AVAILABLE SERVICES 
</div>
<div class=" servicesContiner">
	<div class=" serviceCard">
		<div class="cardImg">
			<div class="serviceIcon">
				<img src="../images/loginBg.jpg ">
			</div>
			
		</div>
		<div class="cardTitle">Job Openings</div>
		<div class="card decription"> Check for Current job openning in Banking,Government and Private</div>
		<div class="viewMoreBtnDiv">
			<button ng-click="gotoJobs();">View More</button>

		</div>
	</div>
	<div class=" serviceCard">
		<div class="cardImg">
			<div class="serviceIcon">
				<img src="../images/homebg.jpg ">
			</div>
		</div>
		<div class="cardTitle">Available Cources</div>
		<div class="card decription">Would you like to check available cources</div>
		<div class="viewMoreBtnDiv">
			<button ng-click="reDirectToCources();">View More</button>
		</div>

	</div>	
		<div class=" serviceCard">
		<div class="cardImg">
			<div class="serviceIcon">
				<img src="../images/loginBg2.jpg ">
			</div>
		</div>
		<div class="cardTitle">Pan Card</div>
		<div class="card decription">You can request for new PAN or Update existing PAN</div>
		<div class="viewMoreBtnDiv">
			<button>View More</button>
		</div>
	</div>
		<div class=" serviceCard">
		<div class="cardImg">
			<div class="serviceIcon">
				<img src="../images/loginBg3.jpg ">
			</div>
		</div>
		<div class="cardTitle">Adhar Card</div>
		<div class="card decription">You can request for new Adhar or Update existing Adhar</div>
		<div class="viewMoreBtnDiv">
			<button>View More</button>
		</div>
	</div>
		<div class=" serviceCard">
		<div class="cardImg">
			<img src="">
		</div>
		<div class="cardTitle">Admit Card</div>
		<div class="card decription"> Can down load or view the admit cards </div>
		<div class="viewMoreBtnDiv">
			<button>View More</button>
		</div>
	</div>
		<div class=" serviceCard">
		<div class="cardImg">
			<img src="">
		</div>
		<div class="cardTitle">Jobs</div>
		<div class="card decription"> mwmjqw jwheqj wjweqv qhwgeq </div>
		<div class="viewMoreBtnDiv">
			<button>View More</button>
		</div>
	</div>
		<div class=" serviceCard">
		<div class="cardImg">
			<img src="">
		</div>
		<div class="cardTitle">Jobs</div>
		<div class="card decription"> mwmjqw jwheqj wjweqv qhwgeq </div>
		<div class="viewMoreBtnDiv">
			<button>View More</button>
		</div>
	</div>
	
	
	


</div>	

</div>