<div class="pgaeContainer">
    <div class="currentjobsop">Current Job Openings</div>

    <div class="JobListTable">
        <ul class="headerUl" style="    background: #102933;">
            <li class="bigColumn">Job Title</li>
            <li class="bigColumn">Sector</li>
            <li>Qualfication</li>
            <li>Last Date</li>
            <li>Action</li>
        </ul>
        <ul class="evenrow" ng-repeat="job in jobdata">
            <li ng-click="showJobDetails=!showJobDetails" class="linksClass bigColumn">{{job.title}} -{{job.totalPosts}}
                Posts
            </li>
            <li class="bigColumn">{{job.sector}}</li>
            <li>{{job.qualification}}</li>
            <li>{{job.lastDate}}</li>
            <li>
                <button ng-show="!showJobDetails" ng-click="showJobDetails=!showJobDetails;">View Details</button>
                <button ng-show="showJobDetails" ng-click="showJobDetails=!showJobDetails;">Hide Details</button>
            </li>
            <div class="jobdetailsData evenrow" ng-show="showJobDetails">
                <h2>Job Details:</h2>

                <div class="jobDescription jobTextValue"s>
                    {{job.jobSubDetails.aboutJob}}
                </div>
                <div class="jobInfo">
                    <div>
                        <span class="jobtitletext">Start Date : </span>
                        <span class="jobTextValue">{{job.startDate}}</span>
                    </div>
                    <div>
                        <span class="jobtitletext">Last Date : </span>
                        <span class="jobTextValue">{{job.lastDate}}</span>
                    </div>
                </div>
                <div class="jobInfo">
                    <div>
                        <span class="jobtitletext">Post Name : </span>
                        <span class="jobTextValue">{{job.jobSubDetails.postName}}</span>
                    </div>
                    <div>
                        <span class="jobtitletext">Total Vacancies : </span>
                        <span class="jobTextValue">{{job.jobSubDetails.totalVacancies}}</span>
                    </div>
                    <div>
                        <span class="jobtitletext">Salary/pay scale : </span>
                        <span class="jobTextValue">{{job.jobSubDetails.salaryScale}}</span>
                    </div>
                    <div>
                        <span class="jobtitletext">Job Location : </span>
                        <span class="jobTextValue"> {{job.jobSubDetails.jobLocation}}</span>
                    </div>

                </div>
                <div class="jobInfo">
                    <div class="jobtitletext">Eligibility Criteria for post :</div>
                    <div>
                        <span class="jobtitletext">Educational Qualification : </span>
                        <span class="jobTextValue">{{job.jobSubDetails.educationalQualifiction}}</span>
                    </div>
                    <div>
                        <span class="jobtitletext">Age Limit: </span>
                        <span class="jobTextValue">{{job.jobSubDetails.ageLimit}}</span>
                    </div>
                    <div>
                        <span class="jobtitletext">Selection Process : </span>
                        <span class="jobTextValue"> {{job.jobSubDetails.selectionProcess}}</span>
                    </div>
                    <div>
                        <span class="jobtitletext">Application Fee : </span>
                        <span class="jobTextValue">{{job.jobSubDetails.applicationFee}}</span>
                    </div>

                    <div>
                        <span class="jobtitletext">How to Apply : </span>
                        <span class="jobTextValue">{{job.jobSubDetails.howToApplay}}</span>
                    </div>

                    <div class="jobInfo">
                        <div class="jobtitletext">Important links</div>
                        <a href="https://www.youtube.com/">https://www.youtube.com</a></br>
                        <a href="https://www.youtube.com/">https://www.youtube.com</a></br>
                        <a href="https://www.youtube.com/">https://www.youtube.com</a>
							<button ng-show="!showJobDetails" ng-click="showJobDetails=!showJobDetails;">View Details</button>
							<button ng-show="!showJobDetails" ng-click="showJobDetails=!showJobDetails;">View Details</button>
							<button ng-show="!showJobDetails" ng-click="showJobDetails=!showJobDetails;">View Details</button>
                    </div>
                    
                      <div class="jobInfo">                        
							 <a style="font-size:16px;background: #0a1033;" class="btn btn-primary linkBtn" href="https://www.youtube.com/" >How To Apply</a>
							 <a style="font-size:16px;background: #0a1033;" class="btn btn-primary linkBtn" href="https://www.youtube.com/" >Download PDF</a>
							 <a style="font-size:16px;background: #0a1033;" class="btn btn-primary linkBtn" href="{{job.jobSubDetails.downloadPoster}}" target="_blank
">Download Poster</a>
                    </div>


                </div>
            </div>
        </ul>


    </div>

</div>