<div class="pgaeContainer">
	<div class="currentjobsop">Current Job Openings</div>

	<div class="JobListTable">
		<ul class="headerUl">
			<li class="bigColumn">Job Title</li>
			<li class="bigColumn">Sector</li>
			<li>Qualfication</li>
			<li>Last Date</li>
			<li>Action</li>
		</ul>
		<ul class="evenrow">
			<li ng-click="showJobDetails=!showJobDetails" class="linksClass bigColumn">Assistant Surgeon - 1,884 Posts</li>
			<li class="bigColumn">Medical Services Recruitment Board Tamil Nadu (MRBTN)</li>
			<li>MBBS</li>
			<li>15-08-2018</li>
			<li>
					<button ng-show="!showJobDetails" ng-click="showJobDetails=!showJobDetails;">View Details</button>
				<button ng-show="showJobDetails" ng-click="showJobDetails=!showJobDetails;">Hide Details</button>
			</li>
			<div class ="jobdetailsData evenrow" ng-show="showJobDetails">
				<h2>Job Details:</h2>
				
				<div class="jobDescription ">
					Medical Services Recruitment Board Tamil Nadu (MRBTN) has released a notification for the recruitment of 1,884 Assistant Surgeons. Interested candidates may check the vacancy details and apply online from 25-09-2018 to 15-10-2018.
				</div>
				<div class="jobInfo">
					<div>
						<span>Start Date : </span>
						<span>24-12-2018</span>
					</div>
					<div>
						<span>Last Date : </span>
						<span>31-12-2018</span>
					</div>
				</div>	
				<div class="jobInfo">
					<div>
						<span>Post Name : </span>
						<span>Ass. Manager</span>
					</div>
					<div>
						<span>Total Vacancies : </span>
						<span>1000</span>
					</div>
					<div>
						<span>Salary/pay scale : </span>
						<span>5000000 - 10000000</span>
					</div>
					<div>
						<span>Job Location : </span>
						<span>Pune</span>
					</div>

				</div>
				<div class="jobInfo">
					<div>Eligibility Criteria for post : </div>
					<div>
						<span>Educational Qualification : </span>
						<span>Candidates should have passed MBBS and must be registered practitioner within the meaning of Madras Medical Registration Act, 1914 and 12 months working experience as House Surgeon (CRRI).</span>
					</div>
					<div>
						<span>Age Limit: </span>
						<span>Maximum 35 years</span>
					</div>
					<div>
						<span>Selection Process : </span>
						<span> Selection of candidates will be made on the basis of Written Examination.</span>
					</div>
					<div>
						<span>Application Fee : </span>
						<span>General/Other State candidates have to pay Rs. 750 and SC/SCA/ST candidates have to pay Rs. 375 through online mode using Net-banking/Credit or Debit Card.</span>
					</div>

					<div>
						<span>How to Apply : </span>
						<span>Interested and eligible candidates may apply online through VYAPAM website - http://peb.mp.gov.in/ - from 28-09-2018 to 12-10-2018.</span>
					</div>

					<div>
						<div>Important links</div>
						<a href="https://www.youtube.com/"></a><br>
						<a href="https://www.youtube.com/"></a><br>
						<a href="https://www.youtube.com/"></a>

					</div>


				</div>
			</div>
		</ul>
		<ul class="evenrow">
			<li ng-click="showJobDetails=!showJobDetails" class="linksClass bigColumn">Assistant Surgeon - 1,884 Posts</li>
			<li class="bigColumn">Medical Services Recruitment Board Tamil Nadu (MRBTN)</li>
			<li>MBBS</li>
			<li>15-08-2018</li>
			<li>
				<button ng-show="!showJobDetails" ng-click="showJobDetails=!showJobDetails;">View Details</button>
				<button ng-show="showJobDetails" ng-click="showJobDetails=!showJobDetails;">Hide Details</button>
			</li>
			<div class ="jobdetailsData evenrow" ng-show="showJobDetails">
				<h2>Job Details:</h2>
				
				<div class="jobDescription ">
					Medical Services Recruitment Board Tamil Nadu (MRBTN) has released a notification for the recruitment of 1,884 Assistant Surgeons. Interested candidates may check the vacancy details and apply online from 25-09-2018 to 15-10-2018.
				</div>
				<div class="jobInfo">
					<div>
						<span>Post Name : </span>
						<span>Ass. Manager</span>
					</div>
					<div>
						<span>Total Vacancies : </span>
						<span>1000</span>
					</div>
					<div>
						<span>Salary/pay scale : </span>
						<span>5000000 - 10000000</span>
					</div>
					<div>
						<span>Job Location : </span>
						<span>Pune</span>
					</div>

				</div>
				<div class="jobInfo">
					<div>Eligibility Criteria for post : </div>
					<div>
						<span>Educational Qualification : </span>
						<span>Candidates should have passed MBBS and must be registered practitioner within the meaning of Madras Medical Registration Act, 1914 and 12 months working experience as House Surgeon (CRRI).</span>
					</div>
					<div>
						<span>Age Limit: </span>
						<span>Maximum 35 years</span>
					</div>
					<div>
						<span>Selection Process : </span>
						<span> Selection of candidates will be made on the basis of Written Examination.</span>
					</div>
					<div>
						<span>Application Fee : </span>
						<span>General/Other State candidates have to pay Rs. 750 and SC/SCA/ST candidates have to pay Rs. 375 through online mode using Net-banking/Credit or Debit Card.</span>
					</div>


				</div>
			</div>
		</ul>
		<ul class="evenrow">
			<li ng-click="showJobDetails=!showJobDetails" class="linksClass bigColumn">Assistant Surgeon - 1,884 Posts</li>
			<li class="bigColumn">Medical Services Recruitment Board Tamil Nadu (MRBTN)</li>
			<li>MBBS</li>
			<li>15-08-2018</li>
			<li><button ng-click="showJobDetails=!showJobDetails;">View More</button></li>
			<div class ="jobdetailsData evenrow" ng-show="showJobDetails">
				<h2>Job Details:</h2>
				
				<div class="jobDescription ">
					Medical Services Recruitment Board Tamil Nadu (MRBTN) has released a notification for the recruitment of 1,884 Assistant Surgeons. Interested candidates may check the vacancy details and apply online from 25-09-2018 to 15-10-2018.
				</div>
				<div class="jobInfo">
					<div>
						<span>Post Name : </span>
						<span>Ass. Manager</span>
					</div>
					<div>
						<span>Total Vacancies : </span>
						<span>1000</span>
					</div>
					<div>
						<span>Salary/pay scale : </span>
						<span>5000000 - 10000000</span>
					</div>
					<div>
						<span>Job Location : </span>
						<span>Pune</span>
					</div>

				</div>
				<div class="jobInfo">
					<div>Eligibility Criteria for post : </div>
					<div>
						<span>Educational Qualification : </span>
						<span>Candidates should have passed MBBS and must be registered practitioner within the meaning of Madras Medical Registration Act, 1914 and 12 months working experience as House Surgeon (CRRI).</span>
					</div>
					<div>
						<span>Age Limit: </span>
						<span>Maximum 35 years</span>
					</div>
					<div>
						<span>Selection Process : </span>
						<span> Selection of candidates will be made on the basis of Written Examination.</span>
					</div>
					<div>
						<span>Application Fee : </span>
						<span>General/Other State candidates have to pay Rs. 750 and SC/SCA/ST candidates have to pay Rs. 375 through online mode using Net-banking/Credit or Debit Card.</span>
					</div>


				</div>
			</div>
		</ul>
		<ul class="evenrow">
			<li ng-click="showJobDetails=!showJobDetails" class="linksClass bigColumn">Assistant Surgeon - 1,884 Posts</li>
			<li class="bigColumn">Medical Services Recruitment Board Tamil Nadu (MRBTN)</li>
			<li>MBBS</li>
			<li>15-08-2018</li>
			<li><button ng-click="showJobDetails=!showJobDetails;">View More</button></li>
			<div class ="jobdetailsData evenrow" ng-show="showJobDetails">
				<h2>Job Details:</h2>
				
				<div class="jobDescription ">
					Medical Services Recruitment Board Tamil Nadu (MRBTN) has released a notification for the recruitment of 1,884 Assistant Surgeons. Interested candidates may check the vacancy details and apply online from 25-09-2018 to 15-10-2018.
				</div>
				<div class="jobInfo">
					<div>
						<span>Post Name : </span>
						<span>Ass. Manager</span>
					</div>
					<div>
						<span>Total Vacancies : </span>
						<span>1000</span>
					</div>
					<div>
						<span>Salary/pay scale : </span>
						<span>5000000 - 10000000</span>
					</div>
					<div>
						<span>Job Location : </span>
						<span>Pune</span>
					</div>

				</div>
				<div class="jobInfo">
					<div>Eligibility Criteria for post : </div>
					<div>
						<span>Educational Qualification : </span>
						<span>Candidates should have passed MBBS and must be registered practitioner within the meaning of Madras Medical Registration Act, 1914 and 12 months working experience as House Surgeon (CRRI).</span>
					</div>
					<div>
						<span>Age Limit: </span>
						<span>Maximum 35 years</span>
					</div>
					<div>
						<span>Selection Process : </span>
						<span> Selection of candidates will be made on the basis of Written Examination.</span>
					</div>
					<div>
						<span>Application Fee : </span>
						<span>General/Other State candidates have to pay Rs. 750 and SC/SCA/ST candidates have to pay Rs. 375 through online mode using Net-banking/Credit or Debit Card.</span>
					</div>


				</div>
			</div>
		</ul>
		<ul class="evenrow">
			<li ng-click="showJobDetails=!showJobDetails" class="linksClass bigColumn">Assistant Surgeon - 1,884 Posts</li>
			<li class="bigColumn">Medical Services Recruitment Board Tamil Nadu (MRBTN)</li>
			<li>MBBS</li>
			<li>15-08-2018</li>
			<li><button ng-click="showJobDetails=!showJobDetails;">View More</button></li>
			<div class ="jobdetailsData evenrow" ng-show="showJobDetails">
				<h2>Job Details:</h2>
				
				<div class="jobDescription ">
					Medical Services Recruitment Board Tamil Nadu (MRBTN) has released a notification for the recruitment of 1,884 Assistant Surgeons. Interested candidates may check the vacancy details and apply online from 25-09-2018 to 15-10-2018.
				</div>
				<div class="jobInfo">
					<div>
						<span>Post Name : </span>
						<span>Ass. Manager</span>
					</div>
					<div>
						<span>Total Vacancies : </span>
						<span>1000</span>
					</div>
					<div>
						<span>Salary/pay scale : </span>
						<span>5000000 - 10000000</span>
					</div>
					<div>
						<span>Job Location : </span>
						<span>Pune</span>
					</div>

				</div>
				<div class="jobInfo">
					<div>Eligibility Criteria for post : </div>
					<div>
						<span>Educational Qualification : </span>
						<span>Candidates should have passed MBBS and must be registered practitioner within the meaning of Madras Medical Registration Act, 1914 and 12 months working experience as House Surgeon (CRRI).</span>
					</div>
					<div>
						<span>Age Limit: </span>
						<span>Maximum 35 years</span>
					</div>
					<div>
						<span>Selection Process : </span>
						<span> Selection of candidates will be made on the basis of Written Examination.</span>
					</div>
					<div>
						<span>Application Fee : </span>
						<span>General/Other State candidates have to pay Rs. 750 and SC/SCA/ST candidates have to pay Rs. 375 through online mode using Net-banking/Credit or Debit Card.</span>
					</div>


				</div>
			</div>
		</ul>

				
	</div>

</div>