html,body{
	height: 100%;
	width: 100
	background-color:red;

}
.pgaeContainer{
	      margin-top: 70px;
    padding: 25px;
    background-color: #d2d2d2;
    float: left;
    padding-top: 0px;
    width: 100%;
    
    min-height: calc(100vh - 70px);
    background-image: url(/../images/bgImg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}