.courcesTabs{
	        float: left;
    width: 100%;
    background: #3a363626;
    /* padding: 0px !important; */
    padding-top: 0px !important;
    padding-bottom: 21px !important;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
  

}
.courcesTabs ul{
	width: 100%;
	margin: 0px;
	padding: 0px;

}
.courcesTabs ul li{
       /* margin-top: 30px; */
    padding: 10px;
    list-style-type: none;
    min-width: 117px;
    /* background-color: #8aafe408; */
    color: #fff;
    display: inline-block;
    /* margin-right: 20px; */
    text-align: center;
    border-radius: 19px;
        cursor: pointer;	
    font-size: 20px;
    border-bottom: solid 2px #c1b3b3;
}
.coursepageContent{
	    float: left;
    width: 100%;
        background: #0c1d1fc2;
}
.userActionsDiv {
	      float: left;
    width: 20%;
    /* margin-top: 10px; */
    height: calc(100vh - 151px);
       background: #102933;
}
.userActionsDiv ul{
	padding: 0px;
	margin: 0px;
}
.userActionsDiv ul li{
	float: left;
	float: left;
    width: 100%;
    padding: 10px;
    /* background-color: red; */
    border-bottom: solid 1px #fff;
    list-style-type: none;
    padding-left: 30px;
    font-size: 16px;
       color: #fff;
    font-weight: normal;
    cursor: pointer;
}
.corsePageLeftContent{        float: left;
    width: 80%;
    height: 100%;
    padding-left: 25px;
    padding-top: 14px;
    /* font-size: 21px; */
    padding-right: 25px;
    font-size: 22px;
    color: #fbfbfb;
}
.regFormCource{
	         float: left;
    width: 100%;
    /* height: 300px; */
    /* background: red; */
    border: solid 1px #fff;
    margin-top: 15px;
    border-radius: 5px;
    padding: 25px;
}
.userData{
	float: left;
	width: 50%;
	margin-bottom: 10px;
}
.userData .regUserName{
	    font-size: 16px;
    margin-bottom: 7px;
}
.regTextInputDiv{
	float: left;width: 100%;
}
.regTextInputDiv input,.regTextInputDiv select{
	    border: solid 1px #f1eaea;
    border-radius: 5px;
    background: transparent;
    width: 77%;
    height: 40px;
       background: #464444;
        font-size: 16px;;
        padding-left: 15px;
}
.regTextInputDiv select{    background-color: #1e21212e;}

    td{
        font-size: 14px;
    }
    .searchDiv{
            float: left;
    width: 100%;
    margin-bottom: 26px;
    border-bottom: solid 1px #fff;
    }
    .searchDiv input{
       background-color: transparent;
    height: 43px;
    border-radius: 5px;
    border: solid 1px #fff;
    float: right;
    margin-bottom: 25px;
    font-size: 14px;
    width: 300px;
    padding-left: 43px;
    
    background-image: url(/images/search.png);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 9px;
}
.activeLi{
    background-color: #136f94 !important;
}
.coursepageContent {
   float: left;
    width: 100%;
    background: #464444;
    border-top: solid 1px #fff;
}
.userActionsDiv {
    float: left;
    width: 20%;
    /* margin-top: 10px; */
    min-height: calc(100vh - 70px);
    background: #102933;
        border-right: solid 1px#fff;
}
.activeBtnBg{
    background-color: green !important;color: #fff;
}
.saveStdBtn{
	width: 134px;
    height: 40px;
      margin-top: 4px;
    background: #dad6d6;
    border: none;
    border-radius: 5px;
}