
header{
	       height: 70px;
    width: 100%;
    position: fixed;
   background-color: #102933;
    top: 0px;
    padding-top: 6px;
  z-index: 9999;
        padding-right: 0px;
    
}
header img{
    height: 25px;
    width: 25px;
    float: left;
    margin-right: 10px;

}
header .Actons .arrow{
	         float: right;
    height: 25px;
    width: 25px;
    margin-top: 28px;
    cursor: pointer;
    margin-right: 11px;
}
header .sitelogotext{
	    font-size: 25px;
    color: #fff;
    padding-left: 25px;
    margin-top: 16px;
    float: left;
        font-weight: bold;
}
.Actons{
	float: right;
    padding-top: 3px;
    /* min-width: 170px; */
    position: relative;
    min-width: 180px;
}
.rotateArrow{
	transform: rotate(180deg);
}
.arrowimgDiv{
     position: absolute;
    right: 0;
    top: -7px;
    z-index: 999999;
    height: 70px;
    /* width: 10px; */
    /* padding-right: 13px; */
    width: 50px;
}
.setbgOnActive{
    background: #0e3a4c;
}
.welcome{
      font-size: 21px;
    font-weight: normal;
    color: #fff;
    float: left;
    width: 58%;
    margin-left: 16px;
}
.userName{
	     font-size: 15px;
    font-weight: normal;
    color: #fff;
    padding-right: 33px;
    float: left;
    margin-left: 16px;
}
.menulistDiv ul :nth-child(1) {
       background-image: url(/../images/admin.png);
    
}
.menulistDiv ul :nth-child(2) {
       background-image: url(/../images/admin.png);
 }
 .menulistDiv ul :nth-child(3) {
       background-image: url(/../images/contact.png);
 }
 .menulistDiv ul :nth-child(4) {
       background-image: url(/../images/logout.png);
 }
.menulistDiv ul{
	padding: 0px;
	margin: 0px;

}
.menulistDiv ul li{
	font-size: 14px;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid 1px #fff;
    list-style-type: none;
    padding: 8px;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-size: 19px 19px;
    background-position-x: 12px;
    background-position-y: 4px;
    color: #fff;
}
.menulistDiv{
      position: fixed;
    right: 0;
    top: 70px;
    right: 0;
       background: #0e3a4c;
  
    width: 170px;
  
    cursor: pointer;
    border-top: solid 1px #fff;

}
.headeroptions{
    float: left;
    width: 87%;
    margin-top: -21px;
}
.headeroptions ul{
    margin: 0px;
    padding: 0px;
    float: right;
    padding-top: 0px;
    margin-top: -20px;
}
.headeroptions ul li {
        list-style-type: none;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin-right: 34px;
    /* padding-top: 20px; */
    /* background: red; */
    cursor: pointer;
        -webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
    transition: width 2s, height 4s;
}
/*.headeroptions ul li:hover{
     width: 300px;
     font-size: 20px;
     background-color: red;
}*/
.userUl{
     /*   margin-top: -15px !important;
    background: #136f94;
    !* height: 79px; *!
    padding-bottom: 10px !important;*/
    padding-left: 38px !important;
}
.userUl li{
        display: block !important;
}