.homepageImgesParent{
    float: left;
    width: 100%;
    height: 370px;
    background: #b9aeae;
    margin-top: 30px;
    margin-bottom: 30px;
}
.homepageImgesParent img {
float: left;
height: 100%;
width: 100%;
}
.serviceCard{
	position: relative;
	    float: left;
    width: 250px;
    background:#ffffff69;;

    margin-right: 25px;
    margin-top: 25px;
    min-height: 308px;
    padding: 10px;
    border-radius: 5px;

}
.serviceCard .cardImg{
	    height: 140px;
    background: #dadada;

}
.bannerDiv{font-size: 18px;
    margin-top: 28px;
    color: #fff;}
.serviceCard .cardTitle{
	 
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    text-align: center;
    color: #fff;

}
.serviceCard .decription{
	     font-size: 15px;
    color: #fff;;

}
.serviceIcon{
	       height: 140px;
    width: 100%;

}
.serviceIcon img{
	width: 100%;
	height: 100%;
}
.Activebg{
    
    border-bottom: solid 4px #FF5722 !important;
    color: #FF5722;
    font-weight: bold !important;
}
.viewMoreBtnDiv{
	    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
        background: #0c0c0c61;
    height: 60px;
    text-align: center;
    border-top: solid 1px #dadada;
}
.viewMoreBtnDiv button{
      border: none;
    height: 38px;
    width: 62%;
    background: #102933ad;
    color: #fff;
    margin-top: 9px;
    border-radius: 5px;
    text-align: left;
    padding-left: 33px;
    background-image: url(/../images/right-arrow.png);
    background-repeat: no-repeat;
    background-size: 25px 24px;
    background-position: 113px;
}