<!DOCTYPE html>

<html lang="en" ng-app="demoApp">
    <head>
        <title>${title}</title>
        <link rel="stylesheet" href="css/lib/bootstrap.min.css" />
              <link rel="stylesheet" href="css/lib/odometer-theme-car.css" />
              <link rel="stylesheet" type="text/css" href="css/lib/styleforie.css" />
              <link rel="stylesheet" href="css/lib/sweetalert.css" />
              <link rel="stylesheet" href="css/custom/login.css" />
              <link rel="stylesheet" href="css/custom/comman.css" />
              <link rel="stylesheet" href="css/custom/header.css" />
              <link rel="stylesheet" href="css/custom/home.css" />
              <link rel="stylesheet" href="css/custom/jobs.css" />
              <link rel="stylesheet" href="css/custom/cources.css" />
    </head>
    <body >

       <div ui-view></div>
        <script src="js/lib/angular.min.js" ></script>
        <script src="js/lib/angular-ui-router.min.js" ></script>
        <script src="js/app/app.js"></script>


    		 <div data-ui-view="" class="parentwrapper"></div>

         <script src="js/lib/jquery.min.js"></script>
                <script src="js/lib/jquery-ui-1.js"></script>
                <script src="js/lib/bootstrap.min.js"></script>
                <script src="js/lib/angular-sanitize.min.js"></script>
                <script src="js/lib/angular-animate.min.js"></script>
                <script src="js/lib/sweetalert.min.js"></script>
                <script src="js/controllers/parentController.js"></script>
                <script src="js/controllers/logincontroller.js"></script>
                <script src="js/controllers/homeController.js"></script>
                <script src="js/controllers/headerController.js"></script>
                <script src="js/controllers/jobsController.js"></script>
                <script src="js/controllers/cources.js"></script>
    </body>
</html>