<!DOCTYPE html>
<html lang="en" ng-app="demoApp" ng-controller="mainCotroller">
<head>
    <title>${title}</title>
    <meta charset="utf-8"/>
    <!--   <meta http-equiv="X-UA-Compatible" content="IE=edge">  -->
    <meta http-equiv="X-UA-Compatible" content="IE=11"/>
    <meta name="twitter:dnt" content="on">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- ******** css Files ********** -->

    <link rel="stylesheet" href="css/lib/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/lib/odometer-theme-car.css"/>
    <link rel="stylesheet" type="text/css" href="css/lib/styleforie.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />  
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="css/lib/sweetalert.css"/>
    <link rel="stylesheet" href="css/custom/login.css"/>
    <link rel="stylesheet" href="css/custom/comman.css"/>
    <link rel="stylesheet" href="css/custom/header.css"/>
    <link rel="stylesheet" href="css/custom/home.css"/>
    <link rel="stylesheet" href="css/custom/jobs.css"/>
    <link rel="stylesheet" href="css/custom/cources.css"/>
    <link rel="stylesheet" href="css/custom/admin.css"/>

</head>
<body>
<div data-ui-view="" class="parentwrapper"></div>


<!-- **********  js files ************ -->
<script src="js/lib/jquery.min.js"></script>
<script src="js/lib/jquery-ui-1.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angular-ui-router.js"></script>
<script src="js/lib/angular-sanitize.min.js"></script>
<script src="js/lib/angular-animate.min.js"></script>
<script src="js/lib/sweetalert.min.js"></script>
<script src="js/paths/pathfile.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>  
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script> 

<script src="js/CommonFileservices/apiLinks.js"></script>
<script src="js/CommonFileservices/configservice.js"></script>
<script src="js/CommonFileservices/Uitilities.js"></script>

<script src="js/controllers/parentController.js"></script>
<script src="js/controllers/logincontroller.js"></script>
<script src="js/controllers/homeController.js"></script>
<script src="js/controllers/headerController.js"></script>
<script src="js/controllers/jobsController.js"></script>
<script src="js/controllers/cources.js"></script>

<script src="js/controllers/admin.js"></script>
</body>

<html>   
        