<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Online-Seva-Home</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/lib/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="iasset/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="iasset/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/custom/stylish-portfolio.min.css" rel="stylesheet"/>
     <link rel="stylesheet" href="css/custom/contact.css"/>
     <style>
     .ContactUsPage{
          width: auto;
    float: right;
    background-color: #1d809f!important;
    /* margin-left: calc(50% - 200px); */
    /* margin-top: 60px; */
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 17px 13px 15px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 17px 13px 15px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 17px 13px 15px -6px rgba(0, 0, 0, 0.75);
      margin: 0px;
     }
     .csavebtnContact{

    background: #171c3e!important;
    border-radius: 5px;
     }
     .contactUstitle{
     color:#fff;}
     .contactLeftInfoDiv{
         float: left;
    width: 60%;
     }
   .conatatHeading{
       font-size: 22px;
    color: #fff;
    }
    .conatctText{
        font-size: 18px;
    color: #fff;}
   .contactDetails{
        float:     float: left;
    width: 100%;
       margin-top: 40px;
    color: #fff;
    font-size: 18px;
    line-height: 1.4;}
    .serAchonr{
        color: #fff !important;
    text-decoration: none !important;
    }
    a:hover,a:active, a:focus, a:hover{
    color:fff;
        text-decoration: none;
        }
        footer.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
        
     </style>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top">Online Seva</a>
        </li>

        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="/login">Login</a>
        </li>

        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#page-top">Home</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#services">Services</a>
        </li>
       <!--  <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
        </li> -->
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>

    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1">Online Seva</h1>
        <h3 class="mb-5">
          <em>Offers tremendious services</em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
      </div>
      <div class="overlay"></div>
    </header>

    <!-- About -->
    <section class="content-section bg-light" id="about">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2>Stylish Portfolio is the perfect theme for your next project!</h2>
            <p class="lead mb-5">This theme features a flexible, UX friendly sidebar menu and stock photos from our friends at
              <a href="https://unsplash.com/">Unsplash</a>!</p>
            <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">What We Offer</a>
          </div>
        </div>
      </div>
    </section>

    <!-- Services -->
    <section class="content-section bg-primary text-white text-center" id="services">
      <div class="container">
        <div class="content-section-heading">
          <h3 class="text-secondary mb-0">Services</h3>
          <h2 class="mb-5">What We Offer</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
           <a class="js-scroll-trigger serAchonr" href="/login" >
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-screen-smartphone"></i>
            </span>
            <h4>
              <strong >Job Openings</strong>
            </h4>
            <p class="text-faded mb-0">Check for Current job openning in Banking,Government and Private</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          	 <a class="js-scroll-trigger" href="/login" class="serAchonr">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-pencil"></i>
            </span>
            <h4>
              <strong style="color:#fff !important">Students</strong>
            </h4>
            <p class="text-faded mb-0">Would you like to check available cources.</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
           <a class="js-scroll-trigger" href="/login" class="serAchonr">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-like"></i>
            </span>
            <h4>
              <strong style="color:#fff !important">Pan Card</strong>
            </h4>
            <p class="text-faded mb-0">You can request for new PAN or Update existing PAN</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6">
           <a class="js-scroll-trigger" href="/login" class="serAchonr">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-mustache"></i>
            </span>
            <h4>
              <strong style="color:#fff !important">Adhar Card</strong>
            </h4>
            <p class="text-faded mb-0">You can request for new Adhar or Update existing Adhar</p>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Callout -->
<!--     <section class="callout">
      <div class="container text-center">
        <h2 class="mx-auto mb-5">Welcome to
          <em>your</em>
          next website!</h2>
        <a class="btn btn-primary btn-xl" href="https://startbootstrap.com/template-overviews/stylish-portfolio/">Download Now!</a>
      </div>
    </section> -->

    <!-- Portfolio -->
  <!--   <section class="content-section" id="portfolio">
      <div class="container">
        <div class="content-section-heading text-center">
          <h3 class="text-secondary mb-0">Portfolio</h3>
          <h2 class="mb-5">Recent Projects</h2>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Stationary</h2>
                  <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p>
                </span>
              </span>
              <img class="img-fluid" src="images/portfolio-1.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Ice Cream</h2>
                  <p class="mb-0">A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!</p>
                </span>
              </span>
                <img class="img-fluid" src="images/portfolio-2.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Strawberries</h2>
                  <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!</p>
                </span>
              </span>
              <img class="img-fluid" src="images/portfolio-3.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Workspace</h2>
                  <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
                </span>
              </span>
              <img class="img-fluid" src="images/portfolio-4.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
    </section>

    Call to Action
    <section class="content-section bg-primary text-white">
      <div class="container text-center">
        <h2 class="mb-4">The buttons below are impossible to resist...</h2>
        <a href="#" class="btn btn-xl btn-light mr-4">Click Me!</a>
        <a href="#" class="btn btn-xl btn-dark">Look at Me!</a>
      </div>
    </section>-->

    <section id="contact" style="float:left;width:100%;">
      
		<div class="pgaeContainer" style="    margin-top: 0px;
    background: #090d25;
    /* padding: 100px; */
    padding-bottom: 0;
    /* padding-top: 80px; */
    /* padding-bottom: 80px; */
    float: left;
    width: 100%;
    padding-top: 20px;
    padding: 20px;">
    
    <div class="col-lg-6 col-sm-12 contactLeftInfoDiv" >
   			 <br>
    	<div class="conatatHeading">Thanks for selecting our forum  as your job search, students training and exam.</div>
    	<br>
    	
    	<br>
    	<div class="conatctText">We know that the process of online learning and applying for job can be problematic.

		If you have quetsions about our courses, job portal, students admit card or anything else, please feel free to contact us.
		<br>
		If you query related online courses and students exam please connect with business team.<br> 
		We have technical specialists for any query regarding portal related issue.
		<br>
		We would be happy to help you out. 

	</div>
	<div class="contactDetails">
		<div>Business Team</div>
		<div>Solapur</div>
		<div>Mobile Number : 9049288115</div>
		
		
	</div>
	<div class="contactDetails">
		<div>Technical Team</div>
		<div>Pune</div>
		<div>Mobile Number : 9158441328</div>
		
		
	</div>
    </div>
   
			<div class="col-lg-6 col-sm-12 ContactUsPage"  > 
			   	<div class="contactUstitle">Contact Us </div>
			   	<form name="conatctFrom" class="conatctFrom">
			   	 	<input type="text" placeholder="Your name" ng-model="conName" name="conatcName"></input>
			   	 	
			   		<input type="text" placeholder="Your email address" ng-model="conEmail" name="conEmail"/>
			   		<input type="text" placeholder="Your contact number" ng-model="connumber" name="connumber"/>
			   		<input type="text" placeholder="Your City" ng-model="conCity" name="conCity"/>
			   		<textarea ng-model="query"  placeholder="Type your messege" style="    height: 100px;
		    padding-top: 14px;">
			   		
			   		</textarea>
			   		<button class="csavebtnContact" type="btn">Submit</button>
			   	</form>
			  
			</div>
		</div>
      
    </section> 

    <!-- Footer -->
    <footer class="footer text-center" style="float: left;
    width: 100%;
    background: #e2ae1c;
    color: #fff;">
      <div class="container">
   
        <p class="text-muted small mb-0" style="color:#fff !important">Copyright &copy; online-seva.com</p>
      </div>
    </footer>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/lib/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/lib/stylish-portfolio.min.js"></script>

  </body>

</html>
