<html>
<body>
<div style="width:600px; height:700px; padding:20px; text-align:center; border: 10px solid #787878">
    <div style="width:550px; height:650px; padding:20px; text-align:center; border: 5px solid #787878">
        <span style="font-size:50px; font-weight:bold">Certificate of Completion</span>
        <br/><br/><br/>
        <span style="font-size:25px"><i>This is to certify that</i></span>
        <br><br>
       <div  style="height:100px;width:100%;"> <img style="height:100px;width:100px;border-radius:50%;margin-left:calc(100% - 50px);" src="data:${imgType};base64,${img}"></div><br/>
        <div style="font-size:30px"><b>${name}</b></div><br/><br/>
        <div style="font-size:25px"><i>has completed the course</i></div> <br/>
        <div style="font-size:30px">${course!"MS-CIT"}</div> <br/>
        <div style="font-size:20px">with score of <b>${grade}</b></div> <br/><br/>
        <div style="font-size:25px"><i>dated</i></div><br>
        <div style="font-size:30px">${date?string.long}</div>
    </div>
</div>
</body>
</html>